@model parcial3Web.Models.vuelos

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>vuelos</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.avion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.avion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.salida)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.salida)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.llegada)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.llegada)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.numPasajeros)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.numPasajeros)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
